BUCKET_NAME=itmo-444-544-<your-netid>-fileshare
APP_SECURITY_GROUP_ID=sg-xxxxxxxxxxxxxxxxx
UPLOADER_ROLE_NAME=itmo-444-544-uploader-role
UPLOADER_PROFILE_NAME=itmo-444-544-uploader-profile
UPLOADER_LT_NAME=itmo-444-544-uploader-lt
VIEWER_ROLE_NAME=itmo-444-544-viewer-role
VIEWER_PROFILE_NAME=itmo-444-544-viewer-profile
VIEWER_LT_NAME=itmo-444-544-viewer-lt
APP_PORT=3000

AWS_REGION=us-east-2
AMI_ID=ami-xxxxxxxxxxxxxxxxx
KEY_NAME=ITMO-444-544-lab-keypair  # Generic Keypair name
SECURITY_GROUP_ID=sg-xxxxxxxxxxxxxxxxx
INSTANCE_TYPE=t3.micro
INSTANCE_COUNT=1
NAME_TAG=cloud-lab-instance
